* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav part starts here */
.nav-list {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    align-items: center;
    padding: 50px;
    font-size: large;
    font-weight: 800;
    background-color: grey;
}

.my-section-container {
    height: 100vh;
    text-align: center;
    padding: 150px;
    background-image: url('my-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.my-section-heading {
    margin-bottom: 50px;
    font-size: 80px;
}

/* banner part start here */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    background: rgba(229, 84, 115, 0.10);
    gap: 30px;
    height: 850px;
    width: 1920px;
}

.banner-description {
    margin-left: 230px;
}

.banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 197px;

    height: 288px;
    width: 708px;
}

.banner-pera {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0px;
}

.banner-img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 0px;
}

.flower-img {
    height: 800px;
    width: 635px;
}

/* main part starts from here */
.first-section-container {
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.first-section-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-top: 178px;
    font-weight: 800;

}

.first-section-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    height: 60px;
    width: 594px;
    margin-left: 663px;
    margin-bottom: 48px;
}

/* flower box */
.flower-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.box2 {

    background: rgba(5, 151, 160, 0.15);
}

.box3 {

    background: rgba(71, 125, 17, 0.15);
}

.flower-img {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}


.flower-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.flower-write {
    margin-top: 32px;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* optional part starts here */
.optional-container {
    width: 1440px;
    height: 320px;
    margin-top: 128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;

}

/* third page starts here */
.hot-deal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
}

.hot-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.color-of {
    color: #E55473;
}

.hot-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
    height: 60px;
    width: 594px;
}

.rose {
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-right: 429px; */

}

/* instra part starts here */
.instra {
    margin-top: 128px;
}

.instra-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.instra-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    height: 60px;
    margin: auto;
}

.four-flower {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 128px;
}

.background-flower-container {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    /* background: url(<path-to-image>), lightgray 0px -203.444px / 100% 213.755% no-repeat; */
    width: 1440px;
    height: 449px;
    margin: auto;
    background-image: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;

}

.bg-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    margin-top: 10px;
}

.bg-property {
    margin-top: 122px;
    align-items: center;
    text-align: center;
}

.bg-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 122px;
}

.input-email {
    border-radius: 8px;
    background: #FFF;
    padding: 23px 513px 22px 22px;
}

/* footer part starts here */
.footer-container {
    margin-top: 122px;
    background: #111010;
    text-align: center;
    color: white;
    width: 1922px;
    height: 449px;
    text-align: center;
    padding: 20px;
}

.footer-head {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 24px;
}

.color-foot {
    color: white;
}

.footer-pera {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    width: 625px;
    margin: auto;
}

.bottom-foot {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}